[Unit]
Wants=network-online.target
After=webserver-oob.service

[Service]
EnvironmentFile=/etc/webserver-oob.conf
ExecStart=/usr/bin/rpmsg_json ${APP_DIR}/oob_data.json
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=multi-user.target
